{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am glad to welcome you on the pages of my blog.
                            My name is Igor and I made this blog to showcase my projects.
                            I am learning Python as my main language.
                            I also have experience in learning CSS3, HTML5, Bootstrap 4 and Javascript.</p>
                        <p>I started studying in March 2022. My first course was on the Stepic platform,
                            then I studied on the Udemy platform and Codecademy. On the site you can find
                            a description of my projects. You can also go to my
                            <a target="_blank" href="https://github.com/Aleshichev">github</a> page and download the code for each project.</p>
                        <p>While learning Python, I got acquainted with such technologies as Web Scraping,
                            Beautiful Soup, Selenium Web Driver, Request, WTForms, Pandas, Turtle, Tkinter,
                            Git, GitHub, Flask, REST, APIs, Databases, SQL, SQLite, Authentication, Web Design.</p>
                        <p>I continue to develop and learn Python frameworks. Now I have started learning Django.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}